@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* BODY */

body {
  background-color: black;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 16.7px;
  font-weight: bold;
  color: white;
  margin-left: 45px;
}

/* HEADER */

header {
  background-color: black;
  height: 68px;
  margin-bottom: 60px;
}

header img {
  width: 115px;
  height: 106px;
}

/* SECTION */

/* POUR MASQUER LA SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.container img{
    height: 168px;
    width: 295px;
    /* NÉCESSAIRE POUR NE PAS COMPRESSER LES ITEMS */
    flex-shrink: 0;
}